@import "tailwindcss";

html, body, #root {
    height: 100%;
}

@keyframes slide-in-from-top {
    0% {
        transform: translateY(-15%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.dialog-slide-in {
    animation: slide-in-from-top 0.35s ease-out;
}